<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>heroku + kevin me | log in</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="/css/font-awesome.min.css"> <!-- load fontawesome -->
	<script type="text/javascript" src="/js/googleanalytics.js"></script>
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

<p>under contruction.</p>

<p>please <a href="mailto:kevin.me@mail.utoronto.ca">email me</a> if you have questions or concerns.</p>
<br/>
<p><a href="/">return home</a></p>
</div>
</body>
</html>
