<!-- views/index.ejs -->
<!doctype html>
<html ng-app="InertanceIndexApp">
<head>
	<title>heroku + kevin me</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/index.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/angular-route.min.js"></script>
	<script type="text/javascript" src="/js/angular-animate.min.js"></script>
	<script type="text/javascript" src="/js/googleanalytics.js"></script>
	<script type="text/javascript" src="/js/ng/index.js"></script>
</head>
<body>
<div class="container-fluid">
	<div class="front-welcome">
			<div class="row">
				<div class="col-xs-12 rowcol">
					<div class="front-welcome-applicant-logo">
						<img class="front-welcome-logo img-responsive center-block" src="/img/heroku-logotype-horizontal-white-updated.png" alt="heroku + kevin me"/>
						<!--<h1 class="front-welcome-applicant-name"> + kevin me</h1>-->
					</div>
				</div>
			</div>
	</div>
</div>
<div class="container auth">
    <div id="big-form" class="well auth-box">
    <% if (message.length > 0) { %>
		<div class="alert alert-danger login-alert"><%= message %></div>
	<% } %>
      <form action="/login" method="post">
        <fieldset ng-controller="LoginFormController">       
  		<div class="form-group">
			<label ng-show="usernameValue != ''" id="usernameLabel" for="loginUsername" class="label-floatlabel">username</label>
			<input ng-model="usernameValue" ng-init="herokuteam" id="loginUsername" type="text" class="form-control" name="username" placeholder ="username">
		</div>

        <div class="form-group">
			<label ng-show="passwordValue != ''" id="passwordLabel" for="loginPassword" class="label-floatlabel reveal-animation">password</label>
			<input ng-model="passwordValue" id="loginPassword" type="password" class="form-control" name="password" placeholder="password" autocomplete="off">
		</div>

        <button type="submit" class="btn btn-default" id="login-submit">Log in</button>
        </fieldset>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>

<div id="footer">
<div class="wrapper">

<ul id="footer-nav">
<li><a href="http://www.heroku.com" target="_blank" rel="nofollow">heroku.com</a></li>
<li><a href="/about">about</a></li>
<li><a href="/legal">legal</a></li>
<li>
<a href="https://www.linkedin.com/in/kevinme" target="_blank" rel="nofollow">linkedin</a>
</li>
<li><a href="mailto:kevin.me@mail.utoronto.ca">contact me</a></li>
</ul>
</div>
</div>

</body>
</html>