<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>heroku + kevin me | profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/profile.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/angular-route.min.js"></script>
	<script type="text/javascript" src="/js/angular-animate.min.js"></script>
	<script type="text/javascript" src="/js/googleanalytics.js"></script>
	<!--<script type="text/javascript" src="/js/ng/index.js"></script>-->
</head>
<body>
<header class="header" role="banner">
				<div class="container">
					<div class="navbar-header">
				<a class="navbar-brand" href="/profile">
						<img class="img-responsive" src="/img/heroku-logotype-horizontal-white-updated.png" alt="heroku + kevin me"/>
</a>				
</div>
<ul class="nav navbar-nav navbar-right">
        <li id="li-user"><p>herokuteam</p></li>
        <li id="li-logout">
        	<a id="logout" href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
        </li>
      </ul>
</div>
</header>
<div id="intro" class="profile-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-sm-6 section-text">
			  <h1>Hello, herokuteam!</h1>
			  <p class="lead">Thanks for taking the time to check out my site. I wanted to create a stand-out job application for you, while at the same time showcasing my talents - this entire site runs on Heroku!</p>
			  <p><a class="btn btn-primary btn-primary" href="mailto:kevin.me@mail.utoronto.ca" role="button">Contact me</a></p>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6 section-image">
                <img class="img-responsive center-block" src="/img/heroku-katana.png" alt="katana">
            </div>
		</div>
	</div>
</div>
<div id="section-1" class="profile-section">
	<div class="container">
		<div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6 section-text">
                    <h2>About this site</h2>
                    <p class="lead">I started off wanting to create a simple site to learn more about the Heroku platform. At the same time, I wanted to create something scalable and forward-thinking, something which would push me to learn new things and challenge myself - ultimately something that would prove to you why I belong at Heroku.</p>
                    <p class="lead">I've pushed myself to develop this site entirely on a MongoDB + Express.js + Angular.js + Node.js (MEAN) stack. In building this site, I've put significant effort into adopting a mobile-first mindset, making this site fully mobile-responsive with Bootstrap 3 and HTML5/CSS3.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6 section-image">
                    <img class="img-responsive center-block" src="/img/logos.png" alt="">
                </div>
            </div>
	</div>
</div>
<div id="section-2" class="profile-section">
	<div class="container">
		<div class="row">
		</div>
	</div>
</div>
<div id="section-3" class="profile-section">
	<div class="container">
		<div class="row">
		</div>
	</div>
</div>
</body>
</html>